<div class="form-container col-lg-6 col-12">
  <h2 class="form-title">Admin component</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form row">
    <mat-form-field
      class="col-12"
      [ngClass]="{ 'has-error has-feedback': hasError('MirrorInstallation') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="MirrorInstallation"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.mirrorInstallationPrice"
      />
      <mat-error *ngIf="hasError('MirrorInstallation')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{ 'has-error has-feedback': hasError('RemovalsPrice') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="RemovalsPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.removalsPrice"
      />
      <mat-error *ngIf="hasError('RemovalsPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{ 'has-error has-feedback': hasError('FloorLvtPrice') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="FloorLvtPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.floorLvtPrice"
      />
      <mat-error *ngIf="hasError('FloorLvtPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{ 'has-error has-feedback': hasError('FloorTilingPrice') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="FloorTilingPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.floorTilingPrice"
      />
      <mat-error *ngIf="hasError('FloorTilingPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{ 'has-error has-feedback': hasError('WallTilingPrice') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="WallTilingPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.wallTilingPrice"
      />
      <mat-error *ngIf="hasError('WallTilingPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('WallPlasteringHalfPrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="WallPlasteringHalfPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.wallPlasteringHalfPrice"
      />
      <mat-error *ngIf="hasError('WallPlasteringHalfPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('WallPaintingWhitePrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="WallPaintingWhitePrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.wallPaintingWhitePrice"
      />
      <mat-error *ngIf="hasError('WallPaintingWhitePrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('WallPlasteringAll')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="WallPlasteringAll"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.wallPlasteringAll"
      />
      <mat-error *ngIf="hasError('WallPlasteringAll')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('WallPaintingWhite')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="WallPaintingWhite"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.wallPaintingWhite"
      />
      <mat-error *ngIf="hasError('WallPaintingWhite')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('UnitInstallation')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="UnitInstallation"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.unitInstallation"
      />
      <mat-error *ngIf="hasError('UnitInstallation')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('DoorChangingPrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="DoorChangingPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.doorChangingPrice"
      />
      <mat-error *ngIf="hasError('DoorChangingPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('SpotlightPrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="SpotlightPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.spotlightPrice"
      />
      <mat-error *ngIf="hasError('SpotlightPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('SwitcherInsidePrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="SwitcherInsidePrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.switcherInsidePrice"
      />
      <mat-error *ngIf="hasError('SwitcherInsidePrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('SwitcherOutsidePrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="SwitcherOutsidePrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.switcherOutsidePrice"
      />
      <mat-error *ngIf="hasError('SwitcherOutsidePrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('SocketPrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="SocketPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.socketPrice"
      />
      <mat-error *ngIf="hasError('SocketPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('FanPrice')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="FanPrice"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.fanPrice"
      />
      <mat-error *ngIf="hasError('FanPrice')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('CeilingPriceWhite')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="CeilingPriceWhite"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.ceilingPriceWhite"
      />
      <mat-error *ngIf="hasError('CeilingPriceWhite')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('CeilingPricePlastered')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="CeilingPricePlastered"
        placeholder="Mirror installation price"
        [(value)]="this.admin.adminModel.ceilingPricePlastered"
      />
      <mat-error *ngIf="hasError('CeilingPricePlastered')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{
        'has-error has-feedback': hasError('Password')
      }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="Password"
        placeholder="Mirror installation price"
        (value)="hashPassword()"
      />
      <mat-error *ngIf="hasError('Password')" class="help-block">
        Valid number required.
      </mat-error>
    </mat-form-field>
    <div class="col-6"><span class="float-end">* Required info</span></div>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-md btn-primary btn-block btn-signin col-12"
      style="margin-top: 30px"
    >
      Update settings
    </button>
    <button
      class="btn btn-sm btn-light btn-block col-12"
      type="submit"
      (click)="onCancel()"
    >
      Go to app
    </button>
  </form>
</div>
