.example-stepper {
  margin-top: 8px;
}

.stepHeader {
  display: flex;
  margin-top: 5px;
  height: 100px;
  background: rgb(60, 60, 60);
  background: linear-gradient(
    90deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(25, 135, 84, 1) 28%,
    rgba(157, 185, 70, 1) 100%
  );
}

.stepHeader img {
  height: 50px;
  width: 50px;
  margin: 25px;
}

h4 {
  line-height: 100px;
  margin-left: 20px;
}

button {
  margin: 5px;
}

.formContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 100px;
}

ng-toggle {
  margin: 5px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.toggleText {
  height: 20px !important;
  display: flex;
  align-items: center;
}

.extender {
  display: inline-block;
  width: 180px;
}

.animatedAppearance {
  transition: all 0.3s;
}

.selectLabel {
  margin-bottom: 20px;
  height: 20px;
}

.itemListedConainer {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.itemListedConainer .col {
  display: inline-block;
  float: none;
}

.itemListed {
  margin: 0px;
  padding: 0px;
}

.center {
  margin: 0 auto;
  width: 90%;
  padding: 0px !important;
}

@media (min-width: 0px) {
  .col-lg-9,
  .col-lg-7 {
    width: 100%;
  }
}

@media (min-width: 250px) {
  .itemListed img {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 300px) {
  .itemListed img {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 350px) {
  .itemListed img {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 450px) {
  .itemListed img {
    height: 105px;
    width: 105px;
  }
}

@media (min-width: 576px) {
  .itemListed img {
    height: 110px;
    width: 110px;
  }
}

@media (min-width: 765px) {
  .itemListed img {
    height: 115px;
    width: 115px;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    width: 20%;
  }

  .col-lg-9 {
    width: 14.28571428571429%;
  }

  .itemListed img {
    height: 125px;
    width: 125px;
  }
}

@media (min-width: 1200px) {
  .itemListed img {
    height: 150px;
    width: 150px;
  }
}
