<mat-stepper
  [linear]="isLinear"
  #stepper
  labelPosition="bottom"
  [orientation]="(stepperOrientation | async)!"
>
  <mat-step [stepControl]="form1">
    <div class="dimensionsHeaderPic col-sm rounded-top">
      <h4 class="align-text-bottom">Enter bathroom dimensions:</h4>
    </div>
    <form [formGroup]="form1">
      <ng-template matStepLabel>Dimensions</ng-template>
      <div class="row">
        <mat-form-field class="col-lg-3" appearance="fill">
          <mat-label>Units</mat-label>
          <mat-select formControlName="units" [(value)]="this.quoteModel.units">
            <mat-option *ngFor="let key of keys" [value]="key">
              {{ key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Bathroom width</mat-label>
            <input
              matInput
              placeholder="Width"
              formControlName="width"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Bathroom height</mat-label>
            <input
              matInput
              placeholder="Height"
              formControlName="height"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Bathroom depth</mat-label>
            <input
              matInput
              placeholder="Depth"
              formControlName="depth"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext (click)="onNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form2">
    <form [formGroup]="form2">
      <ng-template matStepLabel>Removals</ng-template>

      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form3">
    <form [formGroup]="form3">
      <ng-template matStepLabel>Floor</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form4">
    <form [formGroup]="form4">
      <ng-template matStepLabel>Walls</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form5">
    <form [formGroup]="form5">
      <ng-template matStepLabel>Items</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form6">
    <form [formGroup]="form6">
      <ng-template matStepLabel>Doors</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form7">
    <form [formGroup]="form7">
      <ng-template matStepLabel>Electrical</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <p>You are now done.</p>
    <mat-list>
      <mat-list-item>
        <strong>Name:</strong>
        {{ this.form1.value.name }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form2.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form3.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form4.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form5.value.amount }}</mat-list-item
      >

      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form6.value.amount }}</mat-list-item
      >

      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form7.value.amount }}</mat-list-item
      >
    </mat-list>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>
