<mat-stepper
  [linear]="isLinear"
  #stepper
  labelPosition="bottom"
  [orientation]="(stepperOrientation | async)!"
>
  <mat-step [stepControl]="form1">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/dimensions.png" />
      <h4 class="align-text-bottom text-white">Bathroom dimensions:</h4>
    </div>
    <form [formGroup]="form1">
      <ng-template matStepLabel>Dimensions</ng-template>
      <div class="formContainer">
        <div class="row">
          <mat-form-field class="col-lg-3" appearance="fill">
            <mat-label>Units</mat-label>
            <mat-select
              formControlName="units"
              [(value)]="this.quoteModel.units"
            >
              <mat-option *ngFor="let key of keys" [value]="key">
                {{ key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <mat-form-field>
              <mat-label>Bathroom width ({{ quoteModel.units }})</mat-label>
              <input
                matInput
                placeholder="Width"
                formControlName="width"
                required
              />
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              <mat-label>Bathroom height ({{ quoteModel.units }})</mat-label>
              <input
                matInput
                placeholder="Height"
                formControlName="height"
                required
              />
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              <mat-label>Bathroom depth ({{ quoteModel.units }})</mat-label>
              <input
                matInput
                placeholder="Depth"
                formControlName="depth"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-success"
          matStepperNext
          (click)="onNext()"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form2">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/removals.png" />
      <h4 class="align-text-bottom text-white">Expected removals</h4>
    </div>
    <ng-template matStepLabel>Removals</ng-template>
    <div class="formContainer">
      <div class="row">
        <div class="col-lg-4">
          <ng-toggle
            onColor="info"
            onText="Yes"
            offColor="secondary"
            offText="No"
            [disabled]="false"
            [(ngModel)]="this.quoteModel.removals"
          >
          </ng-toggle>
          <label class="col-lg-1 ms-2">Removals</label>
        </div>
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button
        type="button"
        class="btn btn-success"
        matStepperNext
        (click)="onNext()"
      >
        Next
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="form3">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/floor.png" />
      <h4 class="align-text-bottom text-white">Floor types</h4>
    </div>
    <form [formGroup]="form3">
      <ng-template matStepLabel>Floor</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button type="button" class="btn btn-secondary" matStepperPrevious>
          Back
        </button>
        <button type="button" class="btn btn-success" matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form4">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/wall.png" />
      <h4 class="align-text-bottom text-white">Wall types</h4>
    </div>
    <form [formGroup]="form4">
      <ng-template matStepLabel>Walls</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button type="button" class="btn btn-secondary" matStepperPrevious>
          Back
        </button>
        <button type="button" class="btn btn-success" matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form5">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/items.png" />
      <h4 class="align-text-bottom text-white">Additional items</h4>
    </div>
    <form [formGroup]="form5">
      <ng-template matStepLabel>Items</ng-template>
      <div class="formContainer">
        <div class="row">
          <div class="col-lg-4">
            <ng-toggle
              onColor="info"
              onText="Yes"
              offColor="secondary"
              offText="No"
              [disabled]="false"
              [(ngModel)]="this.quoteModel.bathItem"
            >
            </ng-toggle>
            <mat-label class="col-lg-1 ms-2">Bath with shower screen</mat-label>
          </div>
          <div class="col-lg-4">
            <ng-toggle
              onColor="info"
              onText="Yes"
              offColor="secondary"
              offText="No"
              [disabled]="false"
              [(ngModel)]="this.quoteModel.showerItem"
            >
            </ng-toggle>
            <mat-label class="col-lg-1 ms-2">Shower ensuite</mat-label>
          </div>
          <div class="col-lg-4">
            <ng-toggle
              onColor="info"
              onText="Yes"
              offColor="secondary"
              offText="No"
              [disabled]="false"
              [(ngModel)]="this.quoteModel.toiletItem"
            >
            </ng-toggle>
            <mat-label class="col-lg-1 ms-2">Toilet ensuite</mat-label>
          </div>
          <div class="col-lg-4">
            <ng-toggle
              onColor="info"
              onText="Yes"
              offColor="secondary"
              offText="No"
              [disabled]="false"
              [(ngModel)]="this.quoteModel.towelRailItem"
            >
            </ng-toggle>
            <mat-label class="col-lg-1 ms-2">Towel rail</mat-label>
          </div>
          <div class="col-lg-4">
            <ng-toggle
              onColor="info"
              onText="Yes"
              offColor="secondary"
              offText="No"
              [disabled]="false"
              [(ngModel)]="this.quoteModel.basinItem"
            >
            </ng-toggle>
            <mat-label class="col-lg-1 ms-2">Basin</mat-label>
          </div>
          <div class="col-lg-4">
            <ng-toggle
              onColor="info"
              onText="Yes"
              offColor="secondary"
              offText="No"
              [disabled]="false"
              [(ngModel)]="this.quoteModel.pipingItem"
            >
            </ng-toggle>
            <mat-label class="col-lg-1 ms-2">Piping works</mat-label>
          </div>
          <div class="col-lg-4">
            <ng-toggle
              onColor="info"
              onText="Yes"
              offColor="secondary"
              offText="No"
              [disabled]="false"
              [(ngModel)]="this.quoteModel.otherItem"
            >
            </ng-toggle>
            <mat-label class="col-lg-1 ms-2">Other</mat-label>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-secondary" matStepperPrevious>
          Back
        </button>
        <button type="button" class="btn btn-success" matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form6">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/doors.png" />
      <h4 class="align-text-bottom text-white">Door replacement</h4>
    </div>
    <form [formGroup]="form6">
      <ng-template matStepLabel>Doors</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button type="button" class="btn btn-secondary" matStepperPrevious>
          Back
        </button>
        <button type="button" class="btn btn-success" matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form7">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/electrical.png" />
      <h4 class="align-text-bottom text-white">Electrical items</h4>
    </div>
    <form [formGroup]="form7">
      <ng-template matStepLabel>Electrical</ng-template>
      <mat-form-field>
        <mat-label>Test</mat-label>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          required
        />
      </mat-form-field>
      <div>
        <button type="button" class="btn btn-secondary" matStepperPrevious>
          Back
        </button>
        <button type="button" class="btn btn-success" matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <p>You are now done.</p>
    <mat-list>
      <mat-list-item>
        <strong>Name:</strong>
        {{ this.form1.value.name }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form2.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form3.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form4.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form5.value.amount }}</mat-list-item
      >

      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form6.value.amount }}</mat-list-item
      >

      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form7.value.amount }}</mat-list-item
      >
    </mat-list>

    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>
