<mat-stepper
  [linear]="isLinear"
  #stepper
  labelPosition="bottom"
  [orientation]="(stepperOrientation | async)!"
>
  <!--STEP 1-->
  <mat-step [stepControl]="form1">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/dimensions.png" />
      <h4 class="align-text-bottom text-white">Bathroom dimensions</h4>
    </div>
    <ng-template matStepLabel>Dimensions</ng-template>
    <div class="formContainer">
      <div class="row">
        <label class="selectLabel"
          >Please enter below bathroom <b>dimensions</b>:</label
        >
      </div>
      <form [formGroup]="form1">
        <div class="row">
          <mat-form-field class="col-lg-3" appearance="fill">
            <mat-label>Units</mat-label>
            <mat-select
              formControlName="units"
              [(value)]="this.quoteModel.units"
            >
              <mat-option *ngFor="let key of keys" [value]="key">
                {{ key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <mat-form-field>
              <mat-label>Bathroom width ({{ quoteModel.units }})</mat-label>
              <input
                matInput
                placeholder="Width"
                formControlName="width"
                required
              />
              <mat-error *ngIf="form1.invalid">Numbers only allowed</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              <mat-label>Bathroom height ({{ quoteModel.units }})</mat-label>
              <input
                matInput
                placeholder="Height"
                formControlName="height"
                required
              />
              <mat-error *ngIf="form1.invalid">Numbers only allowed</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field>
              <mat-label>Bathroom depth ({{ quoteModel.units }})</mat-label>
              <input
                matInput
                placeholder="Depth"
                formControlName="depth"
                required
              />
              <mat-error *ngIf="form1.invalid">Numbers only allowed</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-success"
        matStepperNext
        (click)="onNext()"
      >
        Next
      </button>
    </div>
  </mat-step>
  <!--STEP 2-->
  <mat-step [stepControl]="form2">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/removals.png" />
      <h4 class="align-text-bottom text-white">Expected removals</h4>
    </div>
    <ng-template matStepLabel>Removals</ng-template>
    <div class="formContainer">
      <div class="row">
        <label class="selectLabel"
          >Please select below <b>one</b> option:</label
        >
      </div>
      <div class="row">
        <div>
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            value="removalNo"
            class="col-lg-6 col-12"
          >
            <mat-button-toggle
              class="col-lg-6 col-12"
              value="removalNo"
              (change)="setNoRemovals()"
              >No removal
            </mat-button-toggle>
            <mat-button-toggle
              class="col-lg-6 col-12"
              value="removalYes"
              (change)="setRemovals()"
              >With removal</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button type="button" class="btn btn-success" matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--STEP 3-->
  <mat-step [stepControl]="form3">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/floor.png" />
      <h4 class="align-text-bottom text-white">Floor types</h4>
    </div>
    <ng-template matStepLabel>Floor</ng-template>
    <div class="formContainer">
      <div class="row">
        <label class="selectLabel"
          >Please select below <b>one</b> option:</label
        >
      </div>
      <div class="row">
        <div>
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            value="none"
            class="col-sm-12"
          >
            <mat-button-toggle
              class="col-lg-3 col-12"
              value="none"
              (change)="setNoneFloor()"
              >No change</mat-button-toggle
            >
            <mat-button-toggle
              class="col-lg-3 col-12"
              value="tiled"
              (change)="setTiledFloor()"
              >Tiled floor</mat-button-toggle
            >
            <mat-button-toggle
              class="col-lg-3 col-12"
              value="lvt"
              (change)="setLvtFloor()"
              >LVT floor</mat-button-toggle
            >
            <mat-button-toggle
              class="col-lg-3 col-12"
              value="other"
              (change)="setOtherFloor()"
              >Other</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="row">
        <form [formGroup]="form3" class="col-12">
          <!--tiles floor-->
          <div
            [style.opacity]="this.quoteModel.floorTiled ? '1' : '0'"
            [style.visibility]="
              this.quoteModel.floorTiled ? 'visible' : 'hidden'
            "
            [style.height]="this.quoteModel.floorTiled ? '630px' : '0'"
            class="animatedAppearance col-12"
          >
            <label class="selectLabel col-12">Please select tiles:</label>
            <div class="center row itemListedConainer">
              <div
                *ngFor="let tile of getTiles(); let i = index"
                class="itemListed col"
              >
                <img
                  src="../../../assets/images/{{ tile.type }}/{{
                    tile.code
                  }}.jpg"
                />
              </div>
            </div>
          </div>
          <!--other floor-->
          <div
            [style.opacity]="this.quoteModel.floorOther ? '1' : '0'"
            [style.visibility]="
              this.quoteModel.floorOther ? 'visible' : 'hidden'
            "
            [style.height]="this.quoteModel.socketsElectrical ? '66px' : '0'"
            class="row animatedAppearance"
          >
            <div class="col-lg-auto">
              <mat-form-field style="width: 50vw">
                <mat-label>Other floor type</mat-label>
                <input
                  matInput
                  placeholder="Comment"
                  formControlName="floorOtherComments"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button type="button" class="btn btn-success" matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--STEP 4-->
  <mat-step [stepControl]="form4">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/wall.png" />
      <h4 class="align-text-bottom text-white">Wall types</h4>
    </div>
    <ng-template matStepLabel>Wall</ng-template>
    <div class="formContainer">
      <div class="row">
        <label class="selectLabel"
          >Please select below <b>one</b> option:</label
        >
      </div>
      <div class="row">
        <div>
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            value="none"
            class="col-12"
          >
            <!--col-lg-7 Bootstrap overriden in css file-->
            <mat-button-toggle
              class="col-lg-7"
              value="none"
              (change)="setNoneWall()"
              >No change</mat-button-toggle
            >
            <mat-button-toggle
              class="col-lg-7"
              value="tiled"
              (change)="setFullWall()"
              >Full height
            </mat-button-toggle>
            <mat-button-toggle
              class="col-lg-7"
              value="lvt"
              (change)="setHalfWall()"
              >Half height</mat-button-toggle
            >
            <mat-button-toggle
              class="col-lg-7"
              value="other"
              (change)="setPlasteredWall()"
              >Plastered</mat-button-toggle
            ><mat-button-toggle
              class="col-lg-7"
              value="other"
              (change)="setOtherWall()"
              >Other</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
      <form [formGroup]="form4">
        <div
          [style.opacity]="this.quoteModel.wallsOther ? '1' : '0'"
          [style.visibility]="this.quoteModel.wallsOther ? 'visible' : 'hidden'"
          [style.height]="this.quoteModel.socketsElectrical ? '66px' : '0'"
          class="row animatedAppearance"
        >
          <div class="col-lg-auto">
            <mat-form-field style="width: 50vw">
              <mat-label>Other wall type</mat-label>
              <input
                matInput
                placeholder="Comment"
                formControlName="wallOtherComments"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button type="button" class="btn btn-success" matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--STEP 5-->
  <mat-step [stepControl]="form5">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/items.png" />
      <h4 class="align-text-bottom text-white">Additional works</h4>
    </div>
    <ng-template matStepLabel>Units</ng-template>
    <div class="formContainer">
      <div class="row">
        <label class="selectLabel"
          >Please select below <b>multiple</b> options:</label
        >
      </div>
      <div class="row">
        <div>
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            value="none"
            class="col-sm-12"
            multiple="true"
            (change)="onUnitsValChange($event.value)"
          >
            <!--col-lg-9 Bootstrap overriden in css file-->
            <mat-button-toggle class="col-lg-9" value="bath"
              >Bath</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-9" value="ensuite"
              >Shower ensuite</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-9" value="mixer"
              >Shower mixer</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-9" value="toilet"
              >Toilet</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-9" value="rail"
              >Towel rail</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-9" value="basin"
              >Basin</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-9" value="other"
              >Other</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
      <form [formGroup]="form5">
        <div
          [style.opacity]="this.quoteModel.otherItem ? '1' : '0'"
          [style.visibility]="this.quoteModel.otherItem ? 'visible' : 'hidden'"
          [style.height]="this.quoteModel.socketsElectrical ? '66px' : '0'"
          class="row animatedAppearance"
        >
          <div class="col-lg-auto">
            <mat-form-field style="width: 50vw">
              <mat-label>Other items</mat-label>
              <input
                matInput
                placeholder="Comment"
                formControlName="otherItemComments"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button type="button" class="btn btn-success" matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--STEP 6-->
  <mat-step [stepControl]="form6">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/doors.png" />
      <h4 class="align-text-bottom text-white">Door replacement</h4>
    </div>
    <ng-template matStepLabel>Doors</ng-template>
    <div class="formContainer">
      <div class="row">
        <label class="selectLabel"
          >Please select below <b>one</b> option:</label
        >
      </div>
      <div class="row">
        <div>
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            value="changingNo"
            class="col-lg-6 col-12"
          >
            <mat-button-toggle
              class="col-lg-6 col-12"
              value="changingNo"
              (change)="setNoChangingDoors()"
              >No changing doors
            </mat-button-toggle>
            <mat-button-toggle
              class="col-lg-6 col-12"
              value="changingYes"
              (change)="setChangingDoors()"
              >Changing doors
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button type="button" class="btn btn-success" matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--STEP 7-->
  <mat-step [stepControl]="form7">
    <div class="stepHeader col-sm rounded-top">
      <img src="../../../assets/images/electrical.png" />
      <h4 class="align-text-bottom text-white">Electrical works</h4>
    </div>
    <ng-template matStepLabel>Electrical</ng-template>
    <div class="formContainer">
      <div class="row">
        <label class="selectLabel"
          >Please select below <b>multiple</b> options:</label
        >
      </div>
      <div class="row">
        <div>
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            class="col-12"
            multiple="true"
            (change)="onElectricalValChange($event.value)"
          >
            <!--col-lg-7 Bootstrap overriden in css file-->
            <mat-button-toggle class="col-lg-7" value="mirror"
              >Elecrical mirror</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-7" value="fan"
              >Mechanic fan
            </mat-button-toggle>
            <mat-button-toggle class="col-lg-7" value="switch"
              >Light switch</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-7" value="spotlight"
              >Spotlights</mat-button-toggle
            >
            <mat-button-toggle class="col-lg-7" value="socket"
              >Power sockets</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
      <form [formGroup]="form7">
        <div
          [style.opacity]="this.quoteModel.socketsElectrical ? '1' : '0'"
          [style.height]="this.quoteModel.socketsElectrical ? '66px' : '0'"
          [style.visibility]="
            this.quoteModel.socketsElectrical ? 'visible' : 'hidden'
          "
          class="row animatedAppearance"
        >
          <div class="col-lg-auto">
            <mat-form-field style="width: 50vw">
              <mat-label>How many sockets?</mat-label>
              <input
                matInput
                placeholder="Comment"
                formControlName="socketsQty"
              />
              <mat-error *ngIf="form7.invalid">Numbers only allowed</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div
          [style.opacity]="this.quoteModel.spotlightsElectrical ? '1' : '0'"
          [style.height]="this.quoteModel.spotlightsElectrical ? '66px' : '0'"
          [style.visibility]="
            this.quoteModel.spotlightsElectrical ? 'visible' : 'hidden'
          "
          class="row animatedAppearance"
        >
          <div class="col-lg-auto">
            <mat-form-field style="width: 50vw">
              <mat-label>How many spotlights?</mat-label>
              <input
                matInput
                placeholder="Comment"
                formControlName="spotlightsQty"
              />
              <mat-error *ngIf="form7.invalid">Numbers only allowed</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button type="button" class="btn btn-success" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <p>You are now done.</p>
    <mat-list>
      <mat-list-item>
        <strong>Name:</strong>
        {{ this.form1.value.name }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form2.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form3.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form4.value.amount }}</mat-list-item
      >
      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form5.value.amount }}</mat-list-item
      >

      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form6.value.amount }}</mat-list-item
      >

      <mat-list-item>
        <strong>Amount:</strong>
        {{ this.form7.value.amount }}</mat-list-item
      >
    </mat-list>

    <div>
      <button type="button" class="btn btn-secondary" matStepperPrevious>
        Back
      </button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>
