.example-stepper {
  margin-top: 8px;
}

.stepHeader {
  margin-top: 5px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.dimensionsHeaderPic {
  background-image: url("../../../assets/images/dimensions.jpg");
}

.removalsHeaderPic {
  background-image: url("../../../assets/images/removals.jpg");
}

h4 {
  line-height: 100px;
  margin-left: 20px;
}

button {
  margin: 5px;
}

.formContainer {
  margin-top: 20px;
  margin-left: 20px;
  min-height: 100px;
}

.ng-toggle-handle {
  border-style: dashed !important;
  border-color: black !important;
}
