<div class="row">
  <div
    class="stepHeader col-sm rounded-top d-flex align-items-center"
    id="policy"
  >
    <img src="../../../assets/images/about.png" />
    <h4 class="align-text-bottom text-white">
      Privacy policy and cookies policy
    </h4>
  </div>
  <div class="col-12">
    This Privacy policy and cookies policy" is meant to help you understand what
    information we collect, why we collect it, and how you can update, manage,
    export, and delete your information. "Bathroom Quote Calculator" does not
    use cookies for its functioning, so you do not have to worry about being
    tracked by us. We do not share your personal information with companies,
    organizations, or any individuals. When booking consultation you provide us
    with personal and contact information. Any time you can ask Floem to review
    and update information about you. At each client's request, we undertake to
    delete all data about you.
  </div>
</div>
<br />
<button
  class="btn btn-sm btn-light btn-block col-lg-2 col-12"
  type="submit"
  (click)="onCancel()"
>
  Go back
</button>
