<div class="row">
  <div class="form-container col-lg-6 col-12">
    <h2 class="form-title">Share this quote with friends and family</h2>
    <button
      class="btn btn-sm btn-primary btn-block col-12"
      type="submit"
      (click)="onPrint()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-printer-fill float-start"
        viewBox="0 0 16 16"
      >
        <path
          d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"
        />
        <path
          d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"
        />
      </svg>
      Print out
      <div class="float-end"></div>
    </button>
    <button
      class="btn btn-sm btn-primary btn-block col-12"
      type="submit"
      (click)="onShareFacebook()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-facebook float-start"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
        />
      </svg>
      Share on Facebook
      <div class="float-end"></div>
    </button>
    <button
      class="btn btn-sm btn-primary btn-block col-12"
      type="submit"
      (click)="onShareTwitter()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-twitter float-start"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
        />
      </svg>
      Share on Twitter
      <div class="float-end"></div>
    </button>
    <h2 class="form-title">or send by email</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <div
        class="form-group"
        [ngClass]="{ 'has-error has-feedback': hasError('Email') }"
      >
        <input
          type="text"
          required
          formControlName="Email"
          class="form-control col-12"
          placeholder="Email address"
        />
        <span
          *ngIf="hasError('Email')"
          class="form-controlfeedback"
          aria-hidden="true"
        ></span>
        <div *ngIf="hasError('Email')" class="help-block">
          Please insert e-mail address.
        </div>
      </div>
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-md btn-primary btn-block btn-signin col-12"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-envelope-fill float-start"
          viewBox="0 0 16 16"
        >
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
          />
        </svg>
        Send email
        <div class="float-end"></div>
      </button>
      <h2 class="form-title">30 min Free consultation</h2>
      <button
        class="btn btn-sm btn-success btn-block col-12"
        type="submit"
        (click)="saveAndBook()"
      >
        Book Online
      </button>
    </form>
    <button
      class="btn btn-sm btn-light btn-block col-12"
      type="submit"
      (click)="onCancel()"
    >
      Go back
    </button>
  </div>
</div>
