button {
  height: 50px;
  margin: 5px;
}

.form-container .form-title {
  margin: 15px 0;
  text-align: center;
  font-size: 1.5em;
  color: #444;
}

form {
  margin: 5px;
}

.help-block {
  color: red;
}

.form-container {
  max-width: 600px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #eee;
}

.form-container .login-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

.form-container .login-forgot-password {
  margin-top: 10px;
  text-align: center;
}

.form-container .login-form .form-group {
  margin-bottom: 8px;
}

.form-container .login-form .error-panel {
  color: #e74c3c;
  text-align: center;
}
