<div class="form-container col-lg-6 col-12">
  <h2 class="form-title">Book consultation with Floem</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form row">
    <mat-form-field
      appearance="fill"
      class="col-6"
      [ngClass]="{ 'has-error has-feedback': hasError('Date') }"
    >
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [value]="this.minDate"
        [min]="this.minDate"
        [matDatepicker]="picker"
        formControlName="Date"
        [matDatepickerFilter]="weekendsDatesFilter"
        (click)="picker.open()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="hasError('Date')"
        class="help-block"
        formControlName="Date"
      >
        Please insert date.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-6"
      [ngClass]="{ 'has-error has-feedback': hasError('Time') }"
    >
      <mat-label>Choose a time</mat-label>
      <mat-select required formControlName="Time">
        <mat-option *ngFor="let time of this.timeOptions" [value]="time">
          {{ time }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="hasError('Time')"
        class="help-block"
        formControlName="Time"
      >
        Please insert time.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{ 'has-error has-feedback': hasError('Name') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="Name"
        placeholder="Name"
      />
      <mat-error *ngIf="hasError('Name')" class="help-block">
        Please insert your name.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="col-12"
      [ngClass]="{ 'has-error has-feedback': hasError('Email') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="Email"
        placeholder="Email"
      />
      <mat-error *ngIf="hasError('Email')" class="help-block">
        Please insert your e-mail address.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <input matInput type="text" formControlName="Phone" placeholder="Phone" />
    </mat-form-field>
    <mat-form-field
      class="col-6"
      [ngClass]="{ 'has-error has-feedback': hasError('Street') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="Street"
        placeholder="Street"
      />
      <mat-error *ngIf="hasError('Street')" class="help-block">
        Please insert your street name.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6">
      <input
        matInput
        type="text"
        formControlName="AptNo"
        placeholder="Apt. / Floor No."
      />
    </mat-form-field>

    <mat-form-field
      class="col-6"
      [ngClass]="{ 'has-error has-feedback': hasError('City') }"
    >
      <input
        matInput
        type="text"
        required
        formControlName="City"
        placeholder="City"
      />
      <mat-error *ngIf="hasError('City')" class="help-block">
        Please insert your city.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6">
      <input matInput type="text" formControlName="State" placeholder="State" />
    </mat-form-field>
    <mat-form-field class="col-12">
      <input
        matInput
        type="text"
        formControlName="Message"
        placeholder="Message to us"
      />
    </mat-form-field>
    <div class="col-6">
      <mat-checkbox
        color="primary"
        class="example-margin"
        required
        formControlName="PrivacyAccept"
      >
        I accept privacy policy *
      </mat-checkbox>
      <mat-error
        *ngIf="hasError('PrivacyAccept')"
        class="help-block checkboxError"
        ><span>Please accept privacy policy first.</span></mat-error
      >
    </div>
    <div><span class="float-end">* Required info</span></div>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-md btn-primary btn-block btn-signin col-12"
    >
      Send request
    </button>
  </form>
</div>
<div class="row">
  <div class="form-container col-lg-6 col-12">
    <h2 class="form-title">Share this quote with friends and family</h2>
    <button
      class="btn btn-sm btn-success btn-block col-12"
      type="submit"
      (click)="saveAndShare()"
    >
      Share Quote
    </button>
    <button
      class="btn btn-sm btn-light btn-block col-12"
      type="submit"
      (click)="onCancel()"
    >
      Go back
    </button>
  </div>
</div>
