html,
body {
  height: 100%;
  position: relative;
}

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 30px;
}

app-root {
  min-height: 100%;
  display: block;
  position: relative;
  padding-bottom: 130px;
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mat-step-icon-selected,
.mat-step-icon-state-edit,
.btn-info {
  background-color: #9db946 !important;
  color: white !important;
  border: none;
}

.ng-toggle-handle {
  background-color: #ece8e7 !important;
}
