<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" [routerLink]="['']">Floem Renovations Quote</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <button type="submit" (click)="onBack()" class="btn btn-md btn-light">
        Go back to main page</button
      ><button type="submit" (click)="onBook()" class="btn btn-md btn-light">
        Book an appointment
      </button>
    </ul>
  </div>
</nav>
