<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" [routerLink]="['main']"
    ><img src="../../../assets/images/Floem-logo.png" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <button
        type="submit"
        (click)="onBack()"
        class="btn btn-md btn-light nav-item"
      >
        Main Page</button
      ><button
        type="submit"
        (click)="onBook()"
        class="btn btn-md btn-light nav-item"
      >
        Book Online
      </button>
    </ul>
  </div>
</nav>
<div class="col-sm-12 text-center"><h1>Bathroom Quote Calculator</h1></div>
