<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="https://www.floem.co.uk/"
    ><img src="../../../assets/images/Floem-logo.png" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <a class="btn btn-md btn-light nav-item" href="https://www.floem.co.uk/"
        >Main Page</a
      >
      <a
        class="btn btn-md btn-light nav-item"
        href="https://www.floem.co.uk/book-online"
      >
        Book Online
      </a>
    </ul>
  </div>
</nav>
<div class="col-sm-12 text-center"><h1>Bathroom Quote Calculator</h1></div>
